<!--
  Generated template for the MainpagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
      <button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>mainpage</ion-title>
  </ion-navbar>
</ion-header>
<ion-content overflow-scroll="false">
  <div>
<p style="text-align:center;font-size:160%;color:white;">¿Que quieres hacer hoy?</p>
</div>
<div>
    <img src="assets/icon/movie.png"ng-click="eventpage()"height="70" width="70" style="margin-left:23px;">
    <img src="assets/icon/producción.png"ng-click="eventpage()"height="70" width="70" style="margin-left:15px;">
    <img src="assets/icon/pc.png"ng-click="eventpage()"height="70" width="70" style="margin-left:15px;">
</div>
<div class="img">
    <img src="assets/icon/ciencias.png"ng-click="eventpage()"height="70" width="70" style="margin-left:23px;">
    <img src="assets/icon/mapa.png"height="70"ng-click="eventpage()" width="70" style="margin-left:15px;">
    <img src="assets/icon/compras.png"ng-click="eventpage()" height="70" width="70" style="margin-left:15px;">
</div>
<div class="img">
  <img src="assets/imgs/LOGO_MEETFY-3.png"height="70" width="70" style="margin-left:100px;">
</div>
<div class="img">
<img src="assets/icon/nieve.png"ng-click="eventpage()"height="70" width="70" style="margin-left:23px;">
<img src="assets/icon/copas.png"ng-click="eventpage()"height="70" width="70" style="margin-left:15px;">
<img src="assets/icon/juego.png" ng-click="eventpage()"height="70" width="70" style="margin-left:15px;">
</div>
<div class="img">
    <img src="assets/icon/sexo.png" ng-click="eventpage()"height="70" width="70" style="margin-left:23px;">
    <img src="assets/icon/dibujo.png" ng-click="eventpage()"height="70" width="70" style="margin-left:15px;">
    <img src="assets/icon/costa.png" ng-click="eventpage()"height="70" width="70" style="margin-left:15px;">
    </div>
</ion-content>