page-list-events {
    ion-item{
        border-radius: 0px!important;
        margin-top: 30px!important;
    }
    .center{
        margin-bottom: 55px;
    }
   .textlabel{
       margin-bottom: 35px!important;
   } 
}

