page-create-event {
    .ButtonBlueText{
        color:#85D0EC;
        font-weight:bold;
        font-size: 14px;
      }
      .PageButton {
        float: left;
        padding-top: 169px;
        margin-left: 67px;
    }
}
